SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
APP_URL=http://localhost:8001
ATTENDANCE_GEOFENCE_MODE=warning
ATTENDANCE_MIN_GPS_ACCURACY_M=100
PAYROLL_STANDARD_WORKDAY_HOURS=8
PAYROLL_OT_VERIFICATION_HOURS=13
ATTENDANCE_SOFTCOPY_MAP=1
